@tailwind base;
@tailwind components;
@tailwind utilities;

/* ant-button : */
.custom-search .ant-btn-primary {
  /* we can change antd buttons color: */
  background: linear-gradient(
    to right,
    rgba(14, 14, 14, 0.8),
    rgba(255, 0, 0, 1.5)
  ) !important;
}


.custom-search .ant-btn:active, .ant-btn:hover {
  border-color: red !important;
}

/* ant input: */
.custom-search .ant-input:hover,.ant-input:active {
  border-color: red !important;
  background-color: transparent;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

